<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Главная</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')" >
                    <a class="nav-link" th:href="@{/employee/list}">Список сотрудников</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" th:href="@{/company}">Список департаментов</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/list}">Список пользователей</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="mr-2" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-info my-2 my-sm-0" th:href="@{/login}">Войти</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-info my-2 my-sm-0" th:href="@{/registration}">Зарегистрироваться</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-info my-2 my-sm-0" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container pb-5">
    <h1 class="text-center mt-5">Список подразделений</h1>
    <div class="mb-4" sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/company/new}" class="btn btn-info">Добавить</a>
    </div>
    <div class="row">
        <!--/*@thymesVar id="departments" type="com.tracking.model.employee.Department"*/-->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" th:each="department : ${departments}">
            <div class="card department-card">
                <img th:src="@{/img/department/{id}(id=${department.id})}" class="card-img-top" alt="...">
                <div class="card-body department-card-body">
                    <h5 class="card-title" th:utext="${department.name}"></h5>
                    <div><span>Количество работников: </span><span  th:utext="${workers.get(department.id)}"></span><span th:if="${!workers.containsKey(department.id)}">0</span></div>
                    <div class="text-center mt-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/company/department/{id}(id=${department.id})}" class="btn btn-info mt-3">Edit</a>
                    </div>
                    <div class="text-center mt-auto">
                        <a th:href="@{/table/department(id=${department.id},current='current')}" class="btn btn-info mt-3">Табель</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>