<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body>

<div class="container-fluid">
    <h1 class="text-center mt-5">
        Табель учета рабочего времени
        <!--/*@thymesVar id="departmentTable" type="com.tracking.model.tabel.DepartmentTable"*/-->
        <span th:utext="${departmentTable.department.name}"></span>
    </h1>
    <div class="mb-5 mt-5">
        <!--/*@thymesVar id="departmentTable" type="com.tracking.model.tabel.DepartmentTable"*/-->
        <ul class="nav nav-tabs">
            <li class="nav-item">

                <a class="nav-link active"
                   th:href="@{/table/dep(id=${departmentTable.department.id},month=1)}">Январь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=2)}">Февраль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=3)}">Март</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=4)}">Апрель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=5)}">Май</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/table/dep(id=${departmentTable.department.id},month=6)}">Июнь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=7)}">Июль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=8)}">Август</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=9)}">Сентябрь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=10)}">Октябрь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=11)}">Ноябрь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table/dep(id=${departmentTable.department.id},month=12)}">Декабрь</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="table-responsive table-department mt-3">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Табельный номер</th>
                            <th>Сотрудник</th>
                            <th th:each="index : ${departmentTable.days}"
                                th:utext="${index}"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employeeTable : ${departmentTable.employeeTables}">
                                <form method="post" th:object="${employeeTableDto}"
                                      th:action="@{save/employee(month=${employeeTable.month},employeeId=${employeeTable.employee.id})}">
                                <td th:utext="${employeeTable.employee.num}"></td>
                                <td th:utext="${employeeTable.employee.getFullName()}"></td>
                                <td class="col_select" th:each="employeeDay : ${employeeTable.employeeDays}">
                                    <select class="form-control" th:field="*{statusList}">
                                        <option th:value="${null}" value=""> --</option>
                                        <!--/*@thymesVar id="code" type="com.tracking.model.tabel.Code"*/-->
                                        <option th:each="code : ${codes}"
                                                th:utext="${code.status}"
                                                th:value="${code.id}"
                                        ></option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary mt-4">Сохранить изменения</button>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mb-2">
                        <button type="submit" class="btn btn-primary mt-4">Сохранить изменения</button>
                    </div>
                    <div class="text-right mb-4">
                        <a th:href="@{/table/company}">Назад</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>