<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <img src="">
        <input type="file">
    </div>
    <div>
        <div>
            <label>
                Имя
            </label>
            <input type="text">
        </div>
        <div>
            <label>
                Фамилия
            </label>
            <input type="text">
        </div>
        <div>
            <label>
                Табельный номер
            </label>
            <input type="text">
        </div>
    </div>
    <div>
        <div>
            <label>
                Дата рождения
            </label>
            <input type="date">
        </div>
        <div>
            <label>
                Пол
            </label>
            <select>
                <option value="Male">М</option>
                <option value="Female">Ж</option>
            </select>
        </div>
        <div>
            <label>
                Должность
            </label>
            <select>
            </select>
        </div>
        <div>
            <input type="checkbox"> Удаленка
        </div>
    </div>
    <div>
        <div>
            <label>
                Город
            </label>
            <input type="text">
        </div>
        <div>
            <label>
                Улица
            </label>
            <input type="text">
        </div>
        <div>
            <label>
                Дом
            </label>
            <input type="text">
        </div>
        <div>
            <label>
                Квартира
            </label>
            <input type="text">
        </div>
    </div>
    <div>
        <div>
            <label>
                Email
            </label>
            <input type="email">
        </div>
        <div>
            <label>
                Мобильный телефон
            </label>
            <input type="tel">
        </div>
    </div>
</body>
</html>