<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<div class="container center-container pt-3 pb-5">
    <h1 class="row justify-content-center">Регистрация</h1>
    <div class="row justify-content-center">
        <div class="reg-form">
            <!--/*@thymesVar id="userDto" type="com.tracking.dto.UserDto"*/-->
            <form class="mt-3 mb-3" th:action="@{/registration}" th:object="${userDto}" method="post">
                <div class="form-group">
                    <label for="login">Имя пользователя</label>
                    <input type="text" class="form-control" id="login" th:field="*{username}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <span class="text-danger" th:text="${username}"></span>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmed">Подтверждение пароля</label>
                    <input type="password" class="form-control" id="passwordConfirmed" th:field="*{passwordConfirmed}"
                           required>
                    <span class="text-danger" th:text="${passwordConfirmed}"></span>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <span class="text-danger" th:text="${email}"></span>
                </div>
                <div class="form-group">
                    <label for="email_confirm">Подтверждение электронной почты</label>
                    <input type="email" class="form-control" id="email_confirm" th:field="*{emailConfirmed}" required>
                    <span class="text-danger" th:text="${emailConfirmed}"></span>
                </div>
                <div class="form-group">
                    <label for="phone">Номер телефона</label>
                    <input type="tel" class="form-control" id="phone" th:field="*{phoneNumber}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                          th:errors="*{phoneNumber}"></span>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="custom-control custom-checkbox"
                     th:each="role : ${roles}">
                    <input type="checkbox" class="custom-control-input" name="role" th:field="*{roleIdSet}"
                           th:value="${role.id}" th:id="${role.id}">
                    <label class="custom-control-label" th:for="${role.id}" th:utext="${role.name}"></label>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info btn-block mb-3">Зарегистрироваться</button>
                </div>
                <div class="text-center mt-4">
                    <a th:href="@{/}">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>