.col_day {
    width: 60px;
}
.col_name {
    width: 240px;
}
.col_num{
    width: 120px;
}

.table .col_select {
    padding: 0;
}

.col_select .form-control {
    height: 50px;
    border-color: #fff;
    border-radius: 0;
}