<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="row justify-content-center">
    <div class="col-md-6">
        <!--/*@thymesVar id="userDto" type="com.tracking.dto.UserDto"*/-->
        <form class="mt-3 mb-3" th:action="@{/admin/update/{id}(id=${userDto.id})}" th:object="${userDto}" method="post" >
            <div class="form-group">
                <label for="login">Имя пользователя</label>
                <input type="text" class="form-control" id="login" th:field="*{username}" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input type="tel" class="form-control" id="phone" th:field="*{phoneNumber}" required>
            </div>
            <!--/*@thymesVar id="roles" type="com.tracking.model.registration.Role"*/-->
            <div class="custom-control custom-checkbox" th:each="role : ${roles}">
                <input type="checkbox" class="custom-control-input" name="role" th:field="*{roleIdSet}" th:value="${role.id}" th:id="${role.id}" >
                <label class="custom-control-label" th:for="${role.id}" th:utext="${role.name}"></label>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-block mb-3">Сохранить</button>
            </div>
            <div class="text-center mt-4">
                <a  th:href="@{/}">Назад</a>
            </div>
        </form>
    </div>
</body>
</html>