html,
body {
    height: 100%;
}

a {
    color: #17a2b8;
}

a:hover,
a:focus {
    color: #117a8b;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #17a2b8;
    background-color: #17a2b8;
}

.center-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}

.btn-icon {
    fill: currentcolor;
}

.btn-icon-gray {
    color: #888;
}

.btn-icon-gray:hover,
.btn-icon-gray:focus {
    color: #666;
    text-decoration: none;
}

.col_day {
    width: 60px;
}

.col_name {
    width: 240px;
}

.col_num {
    width: 120px;
}

.table {
    line-height: 1.2;
}

.table-department {
    max-height: 610px;
    overflow-y: auto;
}

.table-department th,
.table-department td {
    padding: 10px;
}

.table-department-col {
    min-width: 48px;
    text-align: center;
}

.calendar {
    border: 1px solid #454d55;
    text-align: center;
}

.calendar-header,
.calendar-body {
    display: flex;
}

.calendar-header > div,
.calendar-item {
    width: calc(100% / 7);
    border-right: 1px solid #454d55;
}

.calendar-item:nth-of-type(7n),
.calendar-header > div:last-of-type {
    border-right: 0;
}

.calendar-header > div {
    border-bottom: 1px solid #454d55;
    padding: 12px;
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    font-weight: 700;
}

.calendar-body {
    flex-wrap: wrap;
}

.calendar-item {
    border-top: 1px solid #454d55;
}

.calendar-date {
    display: block;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.calendar .form-control {
    position: relative;
    border-color: transparent;
    border-radius: 0;
}

.calendar .form-control option {
    background: #fff;
    color: #000;
}

.calendar .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .15);
}

.calendar-item:nth-of-type(7n - 1),
.calendar-item:nth-of-type(7n),
.calendar-holiday,
.calendar-item:nth-of-type(7n - 1) .form-control,
.calendar-item:nth-of-type(7n) .form-control,
.calendar-holiday .form-control {
    background-color: #FF5252;
    color: #fff;
}

.calendar-item:nth-of-type(7n - 1),
.calendar-item:nth-of-type(7n),
.calendar .calendar-holiday {
    border-color: #fff;
}

.calendar-item:nth-of-type(7n - 1) .calendar-date,
.calendar-item:nth-of-type(7n) .calendar-date,
.calendar-holiday .calendar-date {
    border-color: #E53935;
}

.calendar-item:nth-of-type(7n - 1) .form-control:focus,
.calendar-item:nth-of-type(7n) .form-control:focus,
.calendar .calendar-holiday .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 225, 225, .5);
}

.avatar {
    position: relative;
    display: inline-block;
    max-width: 240px;
}

.avatar-img {
    border: 1px solid #ced4da;
    padding: 5px;
}

.avatar-img img {
    max-width: 100%;
    border: 1px solid #ced4da;
}

.avatar-file {
    margin-top: 15px;
}

/*.avatar-file {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/

/*.avatar::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: block;*/
/*    transition: .15s ease-in-out;*/
/*    background: rgba(0, 0, 0, .5) url("data:image/svg+xml;charset=utf8,%3Csvg height='30' viewBox='0 0 448 448' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;*/
/*    opacity: 0;*/
/*}*/

/*.avatar:hover::after {*/
/*    opacity: 1;*/
/*}*/

.login-form {
    max-width: 300px;
    flex-grow: 1;
}

.reg-form {
    max-width: 500px;
    flex-grow: 1;
}

.department-card {
    height: 100%;
}

.department-card-body {
    display: flex;
    flex-direction: column;
}